<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/scopus.css">
</head>
<body>
    <div id="container">
        <h2>Pesquisa Scopus</h2>
        <form action="/scopus" method="post">
            <p>
                <input type="text" name="keyword" required placeholder="Palavra-chave">
            </p>
            <!-- <label >Campos não obrigatórios</label>
            <p> 
                <input type="text" name="keyword2" placeholder="Palavra-chave">
            </p>   
            <p>
                <input type="text" name="keyword3" placeholder="Palavra-chave">
            </p> 
            <p>
                <input type="text" name="keyword4" placeholder="Palavra-chave">
            </p> 
           -->
           <p>
            <input type="button" value="Enviar">
           </p>
        </form>
       
    </div>
    
</body>
</html>